{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="hero">
    <div class="innercontent">
        <h1>Home services, on Demand.</h1>
    </div>
</div>
<div class="services">
    <h1>Services We Provide</h1>
</div>
<div class="cards" style="width: 75%;margin: auto;">
  <div class="card" id="cardd" style="width: 18rem;">
    <a href="#" style="text-decoration: none; color: black;">
        <img src="/static/images/carpenter.png" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Carpenter</p>
        </div>
    </a>
  </div>
  <div class="card" id="cardd" style="width: 18rem;">
    <a href="#" style="text-decoration: none; color: black;">
        <img src="/static/images/electrician.png" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Electricians</p>
        </div>
    </a>
  </div>
  <div class="card" id="cardd" style="width: 18rem;">
    <a href="#" style="text-decoration: none; color: black;">
        <img src="/static/images/ac.avif" class="card-img-top">
        <div class="card-body">
            <p class="card-text">AC Services</p>
        </div>
    </a>
</div>
</div>
<div class="footer">
    <img src="/static/logos/facebook.png" height="50px" alt="">
    <img src="/static/logos/instagram.png" height="52px" alt="">
    <img src="/static/logos/linkedin.png" height="50px" alt="">
    <img src="/static/logos/twitter.png" height="50px" alt="">
</div>
<div class="text">
    <p>Services Management System</p>
</div>
{% endblock %}